version: 2.1

jobs:
  build-infra:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: "Create Infra"
          command: "bash createInfra.sh createInfra infra.yml infra.json"

workflows:
  CD:
    jobs:
      - build-infra
