version: 2.1

jobs:
  build-infra:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: "Create Infra"
          command: |
            bash createInfra.sh createNetwork network.yml network.json
            aws cloudformation wait stack-create-complete --stack-name createNetwork 
            bash createInfra.sh createServers servers.yml servers.json

workflows:
  CD:
    jobs:
      - build-infra
